<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title th:replace="~{::title}">Voll.med</title>

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/estilos.css}" />
    <link rel="icon" type="image/x-icon" th:href="@{/assets/logo.png}" />
</head>

<body>
<div class="wrapper">

    <!-- Menu -->
    <div th:replace="~{componentes/_menu.html :: menu}"></div>

    <!-- Mensagens -->
    <div class="container">
        <div th:replace="~{componentes/_mensagens.html :: mensagens}"></div>
    </div>

    <!-- Conteúdo da página -->
    <div layout:fragment="conteudo"></div>

    <!-- Footer -->
    <div class="footer" id="rodape" th:replace="~{componentes/_footer.html :: footer}"></div>
</div>

<!-- JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script th:src="@{/js/script.js}"></script>
</body>

</html>
